/*Colour Palette
#672256 - Dark Pink / Light Purple - Header / footer background colour
#CF6EC8 - Bright Pink - current intro section background
#37A49D - Turquoise - current table header colour (change this)
#FCFBF7 - Cream - current main section background
#32112E - Dark Purple
*/

/**** FONT FILES ****/
@font-face {
  font-family: 'little-lord-font-leroy';
  src: url(../fonts/little-lord-font-leroy/little-lord-font-leroy.ttf);
}
@font-face {
  font-family: 'the-bold-font';
  src: url(../fonts/the-bold-font/theboldfont.ttf);
}

/**** GLOBAL ****/
/* Box Fix */
/* apply a natural box layout model to all elements, but allowing components to change */
/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/* html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} */
body {
  border: 1px solid black;
  font-family: 'Calisto MT', serif;
  text-align: center;
  margin: 0 auto;
}
h1 {
font-family: 'little-lord-font-leroy', serif;
font-size: 80px;
letter-spacing: 3px;
text-shadow: 3px 2px #672256;
}

/* Keeps content in the middle of screen */
.content-wrap {
  width: 950px;
  margin: 0 auto;
}

.tablestyle {
  border: 1px solid blue;
}

/**** PAGE INTRO ****/
.intro {
  background: #CF6EC8;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}

/**** MAIN PAGE SECTION ****/
.main-section {
  background: #FCFBF7;
  padding: 80px;
  /* background: lightblue; */
}

a {
    color: #37A49D;
    font-weight: bold;
}
a:hover {
    color: #CF6EC8;
}

.back-link a {
  font-size: 20px;
  font-weight: bold;
  color: #37A49D;
}
.back-link a:hover {
  font-size: 20px;
  color: #CF6EC8;
}

/**** TABLE ****/
/* https://divtable.com/table-styler/ */

table {
  /* https://www.granneman.com/webdev/coding/css/centertables */
  border: 2px solid black;
  margin-left:auto;
  margin-right:auto;
}

/* stiped horizontal rows */
table.table-style tr:nth-child(even) {
  background: lightblue;
}

/* table header */
table.table-style thead {
  background: #37A49D;
  border-bottom: 2px solid black;
  text-align: center;
  /* padding: 10px 20px; */
}

table.table-style td, table.table-style th {
  /* border: 1px solid red; */
  padding: 10px 10px;
  text-align: center;
}

/**** FORM ****/
/* https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Your_first_HTML_form */
/* https://www.w3schools.com/css/css_form.asp */

input[type=text], select {
  width: 20%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  /* To make sure that all labels have the same size and are properly aligned */
  font-weight: bold;
  display: inline-block;
  width: 90px;
  text-align: right;
  padding-right: 5px;
}

/* Button */
input[type=submit] {
  /* width: 20%; */
  background-color: #672256;
  color: #FCFBF7;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Calisto MT';
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
input[type=submit]:hover {
  background-color: #CF6EC8;

}

/**** CAT IMAGE IN VIEW PAGE ****/
.cat-img {
  width: 200px;
  padding: 20px;
  /* border-radius: 50%; */
  /* float: left; */
  /* margin-right: 30px; */
}

/**** HEADER AND FOOTER ****/
 header, footer {
  background: #32112E;
  color: white;
  /* width: 950px;
  margin: 0 auto; */
}
header {
  padding: 40px;
}
footer {
  padding: 10px;
}
header img {
  display: inline;
  width: 80px;
  height: 80px;
  shadow: 3px 2px #672256;
}
header h1 {
  display: inline;
  /* padding: 50px; */
}
