/*Colour Palette
#672256 - Dark Pink / Light Purple
#CF6EC8 - Bright Pink
#37A49D - Turquoise
#FCFBF7 - Cream
#32112E - Dark Purple
*/

/* Font File
-------------------------*/
@font-face {
  font-family: 'little-lord-font-leroy';
  src: url(../fonts/little-lord-font-leroy/little-lord-font-leroy.ttf);
}

/* Global styles
-------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */

/* This style is not working - need to figure out why */
table th td {
  border: 1px solid black;
}

html {
  border: 1px solid black;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'little-lord-font-leroy', sans-serif;
  margin: 0;
}
h1, h2 {
  font-family: 'little-lord-font-leroy', sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
}
a {
  color: #37A49D;
}
a:hover {
  /*removes default underline when hover over element*/
  text-decoration: none;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  /* clears floats */
  overflow: auto;
}
.col-narrow {
  width: 30%;
  float: left;
  /* border: 1px solid black; */
  min-height: 175px;
}
.col-wide {
  width: 70%;
  float: left;
  padding-left: 20px;
  /* border: 1px solid black; */
  min-height: 175px;
}

/* Header and Footer styles
-------------------------*/
header, footer {
  background: #32112E;
  color: #FCFBF7;
}
/* header */
/* .profile-img { */
  /* width: 300px; */
  /* border-radius: 50%; */
  /* float: left; */
  /* margin-right: 30px; */
}

/* aligns header text and image */
/* header {
  text-align: center;
} */
/* header h1, header h2 { */
  /* color: white; */
  /* margin: 0; */
/* } */
/* footer */
/* footer { */
  /* text-align: center; */
/* } */
/* .contact-info a { */
  /* padding: 10px; */
  /* display: inline-block; */
/* } */

/* Work Experience
-------------------------*/
.work {
  background: #46ACC2;
}

/* Education
-------------------------*/
.education {
  background: #42F2F7;
}
